# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
Thumbs.db

# Datasets
datasets/

# Runtime Uploads
uploads/

# Large Model Weights (exceeding GitHub file limit)
models/translation_model/
models/whisper_model/
models/sentiment_model/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE Configuration
.idea/
.vscode/
*.swp
*.swo
*.tmp
